{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Sign Up Form -->
<div class="container card-profile-container my-4">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="card">
        <!-- Form Heading -->
        <div class="card-header main-bg">
          <h2 class="text-white text-center">Sign Up</h2>
        </div>

        <!-- Sign Up Form -->
        <div class="card-body">
          <form method="post" enctype="multipart/form-data" class="form-signup">
            {% csrf_token %}
            <div class="form-group mb-3">
            {{ form.username|as_crispy_field }}
            </div>
            <div class="form-group mb-3">
            {{ form.email|as_crispy_field }}
            </div>
            <div class="form-group mb-3">
            {{ form.password1|as_crispy_field }}
            </div>
            <div class="form-group mb-3">
            {{ form.password2|as_crispy_field }}
            </div>
            <!-- Custom Style for Form Fields -->
            <div class="form-group mb-3">
              {{ form.first_name|as_crispy_field }}
            </div>
            <div class="form-group mb-3">
              {{ form.age|as_crispy_field }}
            </div>
            <div class="form-group mb-3">
              {{ form.gender|as_crispy_field }}
            </div>
            <div class="form-group mb-3">
              {{ form.interested_in|as_crispy_field }}
            </div>
            <div class="form-group mb-3">
              {{ form.bio|as_crispy_field }}
            </div>
            <div class="form-group mb-3">
              {{ form.image1|as_crispy_field }}
            </div>
            <div class="form-group mb-3">
              {{ form.image2|as_crispy_field }}
            </div>
            <div class="form-group mb-3">
              {{ form.image3|as_crispy_field }}
            </div>
            <div class="form-group mb-3">
              {{ form.image4|as_crispy_field }}
            </div>
            <div class="form-group mb-3">
              {{ form.image5|as_crispy_field }}
            </div>
            <div class="form-group mb-3">
              {{ form.interests|as_crispy_field }}
            </div>

            <!-- Submit Button -->
            <div class="text-center">
              <button type="submit" class="btn btn-login-logout">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
