{% extends "base.html" %}

{% block content %}

<!-- User Profiles Page Content Starts Here -->
<div class="container-fluid">
    <h1 class="mx-auto text-center">Do You Feel a Spark?</h1>
</div>

    <hr/>


<!-- User Profiles Displayed as Cards -->
<div class="row d-flex justify-content-center align-items-center">
    {% for user_profile in object_list %}
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
            <div class="image-container overflow-hidden position-relative" style="height: 400px;">
                <!-- Previous Button -->
                <button class="btn btn-secondary btn-sm prev-button position-absolute">Prev</button>

                <!-- Images -->
                {% for image in user_profile.images.all %}
                <img src="{{ image.image.url }}" alt="{{ user_profile.username }}" class="img-fluid">
                {% endfor %}

                <!-- Next Button -->
                <button class="btn btn-secondary btn-sm next-button position-absolute">Next</button>
            </div>

            <div class="card-body">
                <h2 class="card-title">{{ user_profile.username }}</h2>
                <p class="card-text text-muted h6">{{ user_profile.age }} years old</p>
                <p class="card-text">{{ user_profile.gender }}</p>
                <p class="card-text">Interests: {% for interest in user_profile.interests.all %}{{ interest.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                <p class="card-text">{{ user_profile.bio|truncatewords:20 }}</p>
                <div class="text-center">
                    <button type="button" class="btn btn-success btn-sm">Yes</button>
                    <button type="button" class="btn btn-danger btn-sm">No</button>
                </div>
            </div>
            {% empty %}
            <p>No user profiles found.</p>

        </div>
    </div>
    {% endfor %}
</div>






{% load static %}
<script src="{% static 'js/userphotos.js' %}"></script>
<!-- User Profiles Page Content Ends Here -->
{% endblock %}
