{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mb-4">Matches</h1>
                    {% if matched_profiles %}
                    <ul class="list-group">
                        {% for profile in matched_profiles %}
                        <li class="list-group-item">
                            <a class="pink-link" href="{% url 'messaging:chat' profile.username %}">
                                {{ profile.username }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="text-center">No matches yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
