/* Colors */
:root {
    --primary-color: #f4f4f4;
    --secondary-color: #ff6699; /* Lighter pink */
    --secondary-color-dark: #e85a89; /* Slightly darker pink */
    --text-color: #333;
    --background-color: #ff5e5e;/* Romantic pink */
    --background-color-dark: #e65555; /* Slightly darker pink */
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Navbar Customization */
.navbar {
    background-color: var(--secondary-color);
}

.nav-link {
    color: var(--secondary-color) !important;
}


a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color);
}




/* Footer */
footer {
    background-color: var(--text-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.unregister-user-prom{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);

    margin-bottom: 50px;
}

/* Buttons */
.btn-primary {
    background-color: var(--primary-color);
    border: none;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}


.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: var(--background-color);
}



.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}


.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.container-fluid {
    overflow-x: hidden;
}


.btn-yes {
    background-color: var(--secondary-color) !important;
    color: white !important;
    border: none !important;
}

.btn-yes:hover {
    background-color: var(--secondary-color-dark) !important;
    color: white !important;
}

.btn-no {
    background-color: var(--background-color) !important;
    color: white !important;
    border: none !important;
}

.btn-no:hover {
    background-color: var(--background-color-dark) !important;
    color: white !important;
}


.profile-image {
    width: 100%; /* Full width of the card */
    height: 200px; /* Fixed height, adjust as needed */
    object-fit: cover; /* Cover the area without losing aspect ratio */
}

.image-container {
    position: relative;
    overflow: hidden;
}

/* Ensure visibility of images */
.image-container img {
    display: none; /* Hide all images initially */
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Display the first image by default */
.image-container img:first-child {
    display: block;
}

/* Text Centering in Card */
.card-body {
    background-color: var(--primary-color); /* Adjust the background color */
    text-align: center; /* Center text */
    padding: 20px; /* More space inside the card */
    border-radius: 15px;
    overflow: auto;
}

.card-title, .card-text {
    margin: 0 auto; /* Center horizontally */
}

.card-title {
    font-size: 2.0rem; /* Larger font size */
    font-weight: 700; /* Bold font weight */
    color: var(--secondary-color);
    padding-bottom: 5px;
}

.card-text {
    font-size: 1.1rem; /* Slightly larger than normal */
}

.card-text.text-muted {
    color: var(--text-color);
    font-weight: 500; /* Medium font weight for subtle emphasis */
}


/* Profile Cards */
.card {
    color: var(--text-color);
    position: relative;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 35px;
    border: none;
}

.rounded-image-top {
    display: block;
    width: 100%;
    height: 600px;
    border-radius: 7.5px 7.5px 0 0; /* Round only the top corners */
    border: none;   /
}

.carousel-border {
    border: none;
    padding: 0;
}

.overlay-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.carousel-item {
    position: relative;
}

.card-profile-container{
    padding-bottom: 20px;
}

.bio-content {
    margin-top: 20px;
    background-color: var(--primary-color); /* Adjust the background color */

}

.tap-message {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

/* Team Member Image */
.team-member-image {
    border-radius: 10%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid var(--secondary-color);
}

.team-member-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.center-img {
    display: block;
    margin: 20px auto;
    width: 50%;

}

.pink-link {
    color: var(--secondary-color);
}

.pink-link:hover {
    color: var(--secondary-color-dark);
}

/* Login and Logout Links */
.login a, .logout a {
    color: var(--secondary-color); /* Pink */
}

.login a:hover, .logout a:hover {
    color: var(--secondary-color-dark); /* Darken on hover */
    text-decoration: underline;
}

/* Adjusted styles for Sign Up link */
.text-signup a {
    color: var(--secondary-color);
    font-weight: bold; /* Make it bold for emphasis */
}

.text-signup a:hover {
    color: var(--secondary-color-dark); /* Darken on hover */
    text-decoration: underline;
}

.btn-login-logout {
    background-color: var(--secondary-color);
    border: none;
}

.btn-login-logout:hover {
    background-color: var(--secondary-color-dark);
}
